.container > div {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2em;
	color: #ffeead;
}

	.container > div > img {
		width: 50%;
		height: 50%;
		object-fit:scale-down;
	}

html, body {
	background-color: #ffeead;
	margin: 10px;
}
