

/*Global styles*/

* {
    box-sizing: inherit; /*This makes sure that the padding and border are included in the total width and height of the elements.*/
}

html{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:10px;
    box-sizing:border-box;
}

a{
    text-decoration:none;
}

ul{
    list-style:none;
}

p {
    font-size: 1.6rem;
    text-align: center;
    color: #475860;
}

h1 {
    font-size: 3rem;
    margin: 0.5rem 0 1rem;
    text-align: center;
    transform: translateY(40%);
}

h2 {
    font-size: 2.5rem;
    text-align: center;
    color: #475860;
}

h3 {
    font-size: 2rem;
    text-align: center;
    color: #475860;
}

img{
    width:100%;
    max-width:100%;
    height:auto;
}

section{
    padding: 5rem 0;
}

body {
    background-color: #475860;
    margin: 0;
    padding: 0;
}

.quote {
    font-size: 2rem;
    font-style: italic;
    color: #475860;
}

.title {
    text-align: center;
    margin-bottom: 10rem;
    color: #475860;
}

    .title h1 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    }

/* *** NAVIGATION *** */



.nav {
    width: 100%;
    background-color: #475860;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 0.5rem;
}

    .nav a {
        float: left;
        display: block;
        color: #E79A72;
        text-align: center;
        font-size: 1.6rem;
        padding: 1.2rem 1.4rem;
        text-decoration: none;
    }

        .nav a:visited {
            text-decoration: none;
            color: #E79A72;
        }

.nav a:hover {
    color: #F5D5C7;
}

        .nav a:active {
            text-decoration: none;
            color: #F5D5C7;
        }


/* *** ABOUT *** */

.about {
    width: 100%;
    /*background: linear-gradient(135deg, rgba(49,24,131,0.9)0%, rgba(72,56,149,0.8)100%), url("img1.jpg") center no-repeat;
    background-size: cover;*/
    background-color: #F5D5C7;
    position: relative;
    color: #475860;
}

    .about img {
        border-radius: 100rem;
        max-height:50rem;
        max-width:50rem;
    }

.intro-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0;
}

.intro-box {
    height: 60vh;
    padding: 5rem;
    color: #F5D5C7;
    background-color: #F5D5C7;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
}

.intro-text h3 {
    font-size: 1.6rem;
    color: #F5D5C7;
}

.intro-text h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 4rem;
    margin: 1rem 0;
    color: #475860;
}



.button{
    align-content:center;
    background-color:hotpink;
    border-radius:2rem;
    color:#fff;
    display:inline-block;
    margin-top: 2rem;
    padding: 1rem 2.5rem;
    transition:background-color 650ms;
}

.button:hover{
    background-color:deeppink;
}

.call-to-action{

}



/* *** BEST PROJECTS ***  // */

.bestprojects {
padding:1rem;
background-color:#B3DDF3;
}

.projects-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap:2.5rem;
}


.bestprojects-preview {
    height: 40rem;
    padding: 3rem;
    color: #F5D5C7;
    background-color: #475860;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
}

    .bestprojects-preview h1{
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    }
    .bestprojects-preview h2{
        color:#E79A72;
    }

    .bestprojects img {
        padding:0;
    }


/* *** SKILLS *** */

.skills {
    padding: 1rem;
    width: 100%;
   background-color:#E79A72;
    /*
    background: linear-gradient(135deg, rgba(49,24,131,0.9)0%, rgba(72,56,149,0.8)100%), url("img1.jpg") center no-repeat;
    background-size: cover;
    */
    position: relative;
    color: black;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 2.5rem;
}

.skill-box {
    height: 20rem;
    padding: 5rem;
    color: #475860;
    background-color: #F5D5C7;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
}

    .skill-box p {
        font-size: 1.4rem;
        padding: 0;
        margin: 0;
    }


/* *** CONTACT *** */
.contact {
    padding: 0;
    background-color:#475860;

}

.contact h1{
    color:#E79A72;
}

 .contact img{
     padding:1rem;
     max-width:6.4rem;
     height:auto;
 }




/* *** PROJECTS PAGE *** */

.projects1 {
    padding: 1rem;
    width: 100%;
    background-color: #B3DDF3;
    position: relative;
}

.projects2 {
    padding: 1rem;
    width: 100%;
    background-color: #F5D5C7;
    position: relative;
}

/* This is a comment */